/*ANNONCE LIST */


.search-bar {
    background-color: yellow;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
}

.annonces {
    display: flex;
    margin: 20px;
    background-color: rgb(245, 236, 224);
    border-radius: 10px;
    padding: 10px;
}
.annonces img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: 20px;
    /* padding: 10px; */
}
.annonces a {
    color: #4A7C59;
    margin-right: 10px;
    font-weight: 700;
}
.annonces .title {
    font-weight: bold;
    font-size: 18px;
}
.annonces .label {
    font-weight: bold;
}
.map-div {
    margin: 20px auto;
    
}
@media (max-width:768px) {
    .map-div {
        display: none;
    }
}


/*ANNONCE DETAIL*/

.annonce-detail {
    margin: 30px auto;
    background-color: rgb(245, 236, 224);
    border-radius: 10px;
}
.annonce-detail > div {
    margin: 20px auto;
}
.annonce-detail img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}
.annonce-detail span {
    font-weight: bold;
}
.annonce-detail a {
    color: #4A7C59;
    margin-right: 10px;
    font-weight: 700;
}