#search {
    border-radius: 40px;
    background-color: rgba(216, 212, 212, 0.692);
}
#search p {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
    margin: 0px;
    
}
#search p:hover {
    background-color: rgb(216, 212, 212);
    border-radius: 40px;
}
#search input, select {
    height: 30px;
    border: none;
    background-color: transparent;
    border-right: 1px solid black;
    border-radius: 0px;
}
#search input:hover, select:hover {
    border: none;
}
#search label {
    font-size: 13px;
    margin-bottom: 0px;
}
#search .button-search {
    background: none;
    border: none;
    font-size: 30px;
    margin: auto 0px;
    padding: 0px;
}
@media (max-width:766px) {
    #search .no-display {
        display: none;
    }
    #search .button-search {
        font-size: 20px;

    }
    #search p {
        padding: 10px 0px 0px 0px;
    }
}