#add-commentaire {
    display: flex;
    flex-direction: column;  
}
#add-commentaire textarea {
    width: 500px;
    height: 100px;
}

.merci-comment {
    color: #4A7C59;
    font-weight: 700;
    font-size: 20px;
    margin-top: 4em;
}