

.grand-section {
    background-image: url('../../images/background-profile.jpg');
    background-size: cover;
    /* height: calc(100vh - 11em); */
}
#menuProfile {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 20px; 
}
#menuProfile a {
    color: #4A7C59;
    font-size: 20px;
}
#menuProfile a:hover {
    color: #4a7c59d7;
    text-decoration: none;
}
.profile {
    height: calc(100vh - 11em);
    
    
}
.profile .menu {
    height: calc(100vh - 11em -30px);
    margin: 15px auto;
}
.profile .menu a {
   color: #000;
}
.profile .my-profile {
    background-color: #4A7C59;
    height: calc(100vh - 11em -30px);
    margin: 15px auto;
    border-radius: 10px;
    padding: 20px;
}
.profile .my-profile img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.profile .my-messages {
    background-color: #4A7C59;
    height: calc(100vh - 11em -30px);
    margin: 15px auto;
    border-radius: 10px;
    padding: 20px;
}
.profile .my-messages .messagesSection {
    display: flex;
}
.profile .my-messages .messagesSection a {
    color: rgba(255, 255, 255, 0.87);
    font-size: 18px;
}
.profile .my-messages .messagesSection a:hover {
    color: #fff;
    text-decoration: none;
}
.profile .my-messages .displayName {
    width: 150px;
}

.messages-detail-section .messages {
    background-color:  #4A7C59;
    height: calc(100vh - 11em -30px);
    margin: 15px auto;
    padding: 20px;
    border-radius: 10px;
}
.messages-detail-section .messages .send {
    background-color: rgb(224, 207, 207);
    padding: 5px;
    border-radius: 10px;
    width: 45%;
    text-align: end;
    margin-left: auto;
}
.messages-detail-section .messages .receiver {
    background-color: rgb(224, 207, 207);
    padding: 5px;
    border-radius: 10px;
    width: 45%;
    
}
.messages-detail-section .messages form {
    margin-bottom: 0px;
}
.messages-detail-section .messages input {
    width: 70%;
    height: 40px;
    border: none;
    border-radius: 10px;
}
.messages-detail-section .messages button{
    margin: 0px;
}
.messages-detail-section .messages span {
    color: rgba(255, 255, 255, 0.705);
    font-size: 20px;
}

.profile .my-comments {
    background-color:  #4A7C59;
    height: calc(100vh - 11em -30px);
    margin: 15px auto;
    padding-top: 20px;
}

/*PROFIL PUBLIC*/
#profilePublic {
    background-image: url(../../images/background-profile.jpg);
    background-size: cover;
    padding: 50px 50px;
    min-height: calc(100vh - 11em);
}
#profilePublic #firstSection {
    display: flex;
    margin-bottom: 20px;
}
#profilePublic #firstSection img {
    margin-right: 20px;
}
#profilePublic #firstSection span {
    font-weight: bold;
}
#profilePublic .button-publicProfile {
    width: auto;
    height: auto;
    padding: 10px;
    color: rgba(255, 255, 255, 0.856);
}
#profilePublic .button-publicProfile:hover {
    color: #fff;
    background-color: #4a7c59c5;
}

.displayName {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}