


#menuProfile {
    display: flex;
    flex-direction: column;
    
    padding-top: 50px;
    padding-left: 20px;
   
}
.profile {
    height: calc(100vh - 11em);
    
}
.profile .menu {
    height: calc(100vh - 11em -30px);
    margin: 15px auto;
    background-color: #4A7C59;
}
.profile .menu a {
   color: #000;
}
.profile .my-profile {
    background-color: #4A7C59;
    height: calc(100vh - 11em -30px);
    margin: 15px auto;
}
.profile .my-profile img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.profile .my-messages {
    background-color: #4A7C59;
    height: calc(100vh - 11em -30px);
    margin: 15px auto;
}
.profile .my-messages .messagesSection {
    display: flex;
}
.profile .my-messages .displayName {
    width: 150px;
}

.messages-detail-section .messages {
    background-color:  #4A7C59;
    height: calc(100vh - 11em -30px);
    margin: 15px auto;
    padding-top: 20px;
}
.messages-detail-section .messages .send {
    background-color: rgb(224, 207, 207);
    padding: 5px;
    border-radius: 10px;
    width: 45%;
    text-align: end;
    margin-left: auto;
}
.messages-detail-section .messages .receiver {
    background-color: rgb(224, 207, 207);
    padding: 5px;
    border-radius: 10px;
    width: 45%;
    
}
.messages-detail-section .messages form {
    margin-bottom: 0px;
}
.messages-detail-section .messages input {
    width: 70%;
    height: 40px;
    border: none;
    border-radius: 10px;
}
.messages-detail-section .messages button{
    margin: 0px;
}

.profile .my-comments {
    background-color:  #4A7C59;
    height: calc(100vh - 11em -30px);
    margin: 15px auto;
    padding-top: 20px;
}