
.presentation {
    background-color: #FAF3DD;
    height: 100vh;
    padding: 0em;
}

.search-barre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10em;
}

.phrase-accroche {
    margin-left: 10em;
    padding: 0px;
}

h5 {
    font-weight: 700;

}

.presentation-img {
    width: 70em;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


.image img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.consignes {
    background-color: #4A7C59;
    height: 27em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
   
}

.pres-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 300px;
    color:black;
    font-weight: 700;

}

.pres-article p {
    text-align: center;
}


.paragraphe p {
    margin-top: 1em;
}

article img {
    width: 250px;
    height: 250px;
    border-radius:50%;
}

.carousel-item {
    background-color: #8FC0A9;
    width: 600px;
    height: 500px;
}

.avis img {
    width: 150px;
}

.avis p {
    text-align: center;
    
}

.section-avis {
    background-color: #C8D5B9;
    height: 30em;
    padding: 3em;
}

.section-avis h3 {
    text-align: center;
}

.container-avis {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top:3em;
}

.avis {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 400px;
    height: 300px;
}

.stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #f1c40f;
    font-size: 1.8em;
}


