
.presentation {
    background-color: #FAF3DD;
    height: 40em;
    padding: 0em;
}

.search-barre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 23em;
}

.phrase-accroche {
    margin-left: 3em;
    padding: 0px;
}

h5 {
    font-weight: 700;
}

.consignes {
    background-color: #4A7C59;
    height: 25em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
   
}

.pres-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 300px;
    color:black;
    font-weight: 700;

}

.pres-article p {
    text-align: center;
}


article {
    background-color: #68B0AB;
    border-radius:50%;
    width:200px;
    height:200px;
    
}

.carousel-item {
    background-color: #8FC0A9;
    width: 600px;
    height: 500px;
}

.avis img {
    width: 150px;
}

.avis p {
    text-align: center;
    
}

.section-avis {
    background-color: #C8D5B9;
    height: 30em;
    padding: 3em;
}

.section-avis h3 {
    text-align: center;
}

.container-avis {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top:3em;
}

.avis {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 400px;
    height: 300px;
}


