
.nav {
    background-color: #8FC0A9;
    font-size: 16px;
    height: 5em;
}


.compte a {
    color: #222f3e;
    font-weight: 700;
    margin: 1em;
}

.compte a:hover {
    color: #222f3e;
    font-weight: 700;
}





